{{#extends 'base'}}

{{#block 'content'}}
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <td>Chassis</td>
                <td>Series</td>
                <td>Quantity</td>
                <td></td>
            </tr>

        </thead>
        <tbody>
            {{#each model_kit_all}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.model_kit_name}}</td>
                <td>{{this.model_kit_price}}</td>
                <td>{{this.chassis.chassis_name}}</td>
                <td>{{this.series.series_name}}</td>
                <td>
                    {{#if this.model_kit_quantity}}
                    {{this.model_kit_quantity}}
                    {{else}}
                    0
                    {{/if}}
                </td>
                <td>
                    <a role="button" class="link-primary" data-bs-toggle="modal" 
                    data-bs-target="#modelInfo-{{this.id}}">
                        More...
                    </a>
                </td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{!-- modal for deleting --}}
    <div>
        <div class="modal fade" id="deleteModal-{{model_kit.id}}" 
        aria-hidden="true" 
        aria-labelledby="deleteModal-label-{{this.id}}" 
        tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" 
                    id="deleteModal-label-{{this.id}}">
                        Confirm Deletion
                    </h5>
                    <a  href="/model-kit" 
                        type="button" 
                        class="btn-close">
                    </a>
                </div>
                <div class="modal-body">
                    Once deleted, the data cannot be retrieved. 
                    Are you sure to delete this entry?
                </div>
                <div class="modal-footer">
                    <form method="POST">
                        <input  type="submit"
                            type="button" 
                            class="btn btn-danger" 
                            data-bs-dismiss="modal"
                            value="Yes"
                        />
                        <a  href="/model-kit" 
                            type="button" 
                            class="btn btn-secondary">
                                No
                        </a>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>




{{/block}}

{{#block "script"}}
<script src="/js/delete-script.js"></script>
{{/block}}

{{/extends}}