{{#extends 'base'}}

{{#block 'content'}}
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <td>Chassis</td>
                <td>Series</td>
                <td>Quantity</td>
                <td></td>
            </tr>

        </thead>
        <tbody>
            {{!--
            model_kit is pulled from
            routes/model-kit.js, which
            pulls from models/index.js
            --}}
            {{#each model_kit}}
            <tr>
                {{!--
                model_kit_<something> are the
                names given to the table columns
                --}}
                <td>{{this.id}}</td>
                <td>{{this.model_kit_name}}</td>
                <td>{{this.model_kit_price}}</td>
                <td>{{this.chassis.chassis_name}}</td>
                <td>{{this.series.series_name}}</td>
                <td>
                    {{#if this.model_kit_quantity}}
                    {{this.model_kit_quantity}}
                    {{else}}
                    0
                    {{/if}}
                </td>
                <td>
                    <a role="button" class="link-primary" data-bs-toggle="modal" 
                    data-bs-target="#modelInfo-{{this.id}}">
                        More...
                    </a>
                </td>
                {{!-- modal for modelInfo --}}
                <div class="modal fade" id="modelInfo-{{this.id}}" 
                    data-bs-backdrop="static" tabindex="-1" 
                    aria-labelledby="modelInfolLabel-{{this.id}}"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" 
                                id="modelInfolLabel-{{this.id}}">
                                {{this.model_kit_name}},
                                {{this.series.series_name}},
                                {{this.chassis.chassis_name}}
                                </h5>
                                <button type="button" class="btn-close" 
                                data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex align-items-center">
                                {{#if this.model_kit_image}}
                                    <img src={{this.model_kit_image}} 
                                    class="thumbnail-size" 
                                    alt="Model kit image.">
                                {{else}}
                                    <img src="/images/image.png" 
                                    class="thumbnail-size" 
                                    alt="No product image.">
                                {{/if}}
                                <div class="mx-3">
                                    <p>Price: ${{this.model_kit_price}}</p>
                                    <p>Quantity in stock: 
                                        {{this.model_kit_quantity}}</p>
                                    <p>Width: {{this.model_kit_width}}</p>
                                    <p>Length: {{this.model_kit_length}}</p>
                                    <p>Height: {{this.model_kit_height}}</p>
                                    <p>Description: 
                                        {{this.model_kit_description}}</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a  href="/model-kit/{{this.id}}/delete"
                                    class="btn btn-danger" 
                                >
                                    Delete
                                </a>
                                <a  href="/model-kit/{{this.id}}/edit"
                                    class="btn btn-warning" 
                                >
                                    Edit
                                </a>
                                <button type="button" 
                                class="btn btn-dark"
                                data-bs-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



{{/block}}

{{/extends}}